params {
    input_file = "data/GSE72056_melanoma_single_cell.txt.gz"
    outdir = "results"
}

process {
    cpus = 2
    memory = "4 GB"
}

profiles {
    conda {
        conda.enabled = true
        conda = "envs/env.yml"
    }

    docker {
        docker.enabled = true
        process.container = "ghcr.io/young-sudo/scrna-pipe:latest"
    }

    singularity {
        singularity.enabled = true
        process.container = "docker://ghcr.io/young-sudo/scrna-pipe:latest"
    }

    slurm {
        executor = "slurm"
        conda.enabled = true
        conda = "envs/env.yml"
    }

    standard {
        executor = "local"
    }
}
